# PostHog (public project key — safe to expose client-side)
NEXT_PUBLIC_POSTHOG_KEY=phc_tWnMkKTFhskPmPxyTkjzuBmzmxT2tjLx8Hi8GC3WpfGp
NEXT_PUBLIC_POSTHOG_HOST=https://eu.i.posthog.com

# Axeptio CMP
NEXT_PUBLIC_AXEPTIO_CLIENT_ID=6aabffab12d1349a8dc81f7b
NEXT_PUBLIC_AXEPTIO_COOKIES_VERSION=3ad3ffb7-c0c1-418f-b633-842820e53000
